<!-- first part of the page -->
<section id="Part1">
  <h1 >Want To Earn With Us?</h1>
  <h2 >Become Our Partner</h2>
  <h3 >Earn profits from our & help build </h3>
  <h3>awesome careers of students and graduates </h3>
  <h4 ><i class="perc fas fa-percentage fa-1x"></i>Upto 30% commission for every successful referral</h4>
  <h4 ><i class="dol fas fa-dollar-sign"></i>Potential to earn upto Rs 3000 daily</h4>
    <div class="button-box">
      <button type="button" class="btn1" style="margin-bottom:83.7px;" >Our Work</button>
      <button type="button" class="btn2" style="margin-left:36px;" >Know More</button>
    </div>
</section>
